<a class="tf-button btn-effect" data-toggle="modal" data-target="#popupID">
    <span class="boder-fade"></span>
    <input class="effect" id="ConnectWalletBtn" onclick="OpenModalWallets({url: '/MetaMaskAuth/ConnectWallet'})" value="Connect wallet" />
</a>