<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Yukidzaki @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/swiper/swiper-bundle.min.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/app.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
   

    @* <link rel="stylesheet" href="~/css/mobile.1aadaa1d.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/swiper-7.4.1.0fdc8654.css" asp-append-version="true" /> *@

    <link rel="stylesheet" href="~/css/font/font-awesome.css" asp-append-version="true">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" asp-append-version="true">
    <link rel="shortcut icon" href="~/assets/images/favicon.png" asp-append-version="true">

</head>
<body class="header-fixed main pg-roadmap cs-dark">
    <div class="preload preload-container">
        <div class="preload-logo">

            <script type="text/javascript">
                var myLogos = new Array
                    ('/img/assets/preload1.gif',
                        '/img/assets/preload2.gif',
                        '/img/assets/preload3.gif',
                        '/img/assets/preload4.gif',
                        '/img/assets/preload5.gif',
                        '/img/assets/preload6.gif');
                var ind = Math.floor(Math.random() * myLogos.length);
                document.write('<img src= "' + myLogos[ind] + '" >');
            </script>

        </div>

    </div>
    <div id="wrapper">
        
        @*<header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">NFT</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
        <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
        </li>
        <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </li>
        </ul>
        </div>
        </div>
        </nav>
        </header>*@

        <header id="header_main" class="header">
            <div class="container">
                <div id="site-header-inner">
                    <div class="header__logo">
                        <a asp-area="" asp-controller="Home" asp-action="Index"><img src="~/img/assets/logoForSIET1.png" alt=""></a>
                    </div>
                    <nav id="main-nav" class="main-nav">
                        <ul id="menu-primary-menu" class="menu">
                            <li class="menu-item menu-item-has-children">
                                <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="menu-item menu-item-has-children ">
                                <a>About</a>
                                <ul class="sub-menu">
                                    <li class="menu-item"><a asp-area="" asp-controller="Home" asp-action="About">About us</a></li>
                                    <li class="menu-item"><a asp-area="" asp-controller="Home" asp-action="ComingSoon">Coming Soon</a></li>
                                    <li class="menu-item"><a asp-area="" asp-controller="FAQ" asp-action="Index">FAQ</a></li>
                                    <li class="menu-item"><a asp-area="" asp-controller="NotFound" asp-action="Index">404</a></li>
                                </ul>
                            </li>
                            <li class="menu-item menu-item-has-children">
                                <a asp-area="" asp-controller="Roadmap" asp-action="Index">Road Map </a>
                            </li>
                            <li class="menu-item menu-item-has-children">
                                <a>NFT</a>
                                <ul class="sub-menu">
                                    <li class="menu-item"><a asp-area="" asp-controller="Home" asp-action="Filter">Gallery(old)</a></li>
                                    <li class="menu-item"><a asp-area="" asp-controller="Gallery" asp-action="Index">Gallery</a></li>
                                </ul>
                            </li>
                            <li class="menu-item menu-item-has-children">
                                <a>Lore</a>
                                <ul class="sub-menu">
                                    <li class="menu-item"><a asp-area="" asp-controller="Home" asp-action="Characters">Character</a></li>
                                    <li class="menu-item"><a href="blog-details.html">Lore (text)</a></li>
                                </ul>
                            </li>
                            <li class="menu-item">
                                <a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a>
                            </li>
                        </ul>
                    </nav><!-- /#main-nav -->
                    <a class="tf-button btn-effect" data-toggle="modal" data-target="#popupID">
                        <span class="boder-fade"></span>
                        <span class="effect" onclick="OpenModalWallets({url: '/MetaMaskAuth/ConnectWallet'})">Connect wallet</span>
                    </a>

 

                    <div class="mobile-button"><span></span></div><!-- /.mobile-button -->
                </div>
            </div>
        </header>

        <main role="main">
            @RenderBody()
            <div class="modal fade popup" id="ModalWallets" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" id="nftTOKENnow" role="document">


                    <div class="modalbody">
                        @*Content*@
                    </div>
                </div>



            </div>
        </main>


        @*<footer class="border-top footer text-muted">
        <div class="container">
        &copy; 2023 - NFT - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
        </footer>*@


        @RenderSection("Footer", false)     

        
        
        
    </div>
        

  

        



        @*<script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>*@
    <a id="scroll-top"></a>

   
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery-ajax-unobtrusive/dist/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>@*валидация на клиенте*@
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>@*текстовый редактор*@
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/swiper-bundle.min.js"></script>
    <script src="~/js/swiper.js"></script>
    <script src="~/js/app.js"></script>
    <script src="~/js/jquery.easing.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="~/js/parallax.js"></script>
    <script src="~/js/jquery.magnific-popup.min.js"></script>
    <script src="~/js/jquery-validate.js"></script>
    @*<script src="~/js/jquery-3.6.0.min.js"></script>*@ @*не запускается с ним(перестает работать easing(который выше))*@
    <script src="~/js/isotope.pkg.min.js"></script>
    <script src="~/js/jquery.slick.min.js"></script>
    <script src="~/js/open-modal-wallets.js"></script>
    <script src="~/js/main.js"></script>
    <script src="~/js/elastic.js"></script>
    <script src="~/js/count-down.js"></script>
    <script src="~/js/Email.js"></script>
    <script src="~/js/modal.js"></script>
    <script src="~/js/filter.js"></script>
    <script src="~/js/FIltersDraw.js"></script>
    <script src="~/js/jquery.lazyload-any.js"></script>
    <script src="~/js/vanilia-tilt.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/web3@1.5.2/dist/web3.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/0.10.0/lodash.min.js"></script>

    <script>
        VanillaTilt.init(document.querySelector(".testqweqw"), {
            max: 25,
            speed: 400
        });
        </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>



