
<a class="tf-button btn-effect" data-toggle="modal" data-target="#popupID">
    <span class="boder-fade"></span>
    <span class="effect" id="ConnectWalletBtn" onclick="OpenModalMint({url: '/MetaMaskAuth/GetMintModal'})"></span>
</a>