@Html.AntiForgeryToken()
        <div class="modal-content">
            <div class="header-popup">
                <h5>Connect to a wallet</h5>
                
            </div>

            <div class="modal-body center">
                <div class="box-wallet-inner">
                    <div class="sc-box">
                        <div class="img">
                            <img src="~/img/assets/icon-1.png" alt="Image">
                        </div>
                        <h6 class="heading"><a onclick="loginWithEth()">Meta Mask</a> </h6>
                        @*<p class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>*@
                    </div>
                </div>
            </div>

        </div>
    



