@model Babadzaki.ViewModel.HomeVM
@using Microsoft.AspNetCore.Components
<div class="container">
    <div class="text-center">
        <button class="btn btn-dark filter-button" data-filter="all">All</button>
        @foreach (var obj in Model.SeasonCollections)
        {
            <button class="btn btn-outline-secondary filter-button" data-filter="@obj.Name.Replace(' ','_')">
                @obj.Name
            </button>
        }
    </div>
    <br />
    <div class="row">
        @foreach (var token in Model.Tokens)
        {
            <partial name="_IndividualTokenCard" model="token" />
            //display all product
        }
    </div>
    
</div>
<div>
   @* <form method="post" data-ajax="true" data-ajax-method="post">
     <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="token.Description"></label>
                    </div>
                    <div class="col-8">
                        <textarea  asp-for="token.Description" class="form-control summernote" ></textarea>
                        <span asp-validation-for="token.Description" class="text-danger"></span>
                    </div>

                </div>
    <input  type="submit" onclick="return validateInput()" class="btn btn-primary w-100" value="Subscribe" />
</form>*@
@*<form method="post" id="form">
        <input asp-for="Email.Id" hidden /> 
         <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Email.Name"></label>
                    </div>
                    <div class="col-8">
                        <input  asp-for="Email.Name" class="form-control" required ></input>
                        <span asp-validation-for="Email.Name" class="text-danger"></span>
                    </div>

                </div>
        <div class="col">
        <input asp-action="IndexPost" type="submit"  class="btn btn-primary w-100"  />
        </div>
    </form>
</div>*@
@section Scripts{

    @{
        <partial name-"_ValidationScriptsPartial"/>/*Валидация на стороне клиента*/
    }
        
            <script src="~/js/common.js"></script>
    <script>
        $(document).ready(function () {

            $(".filter-button").click(function () {

                var value = $(this).attr('data-filter');
                if (value == "all") {
                    $('.filter').show('1000');
                }
                else {
                    $(".filter").not('.' + value).hide('3000');
                    $('.filter').filter('.' + value).show('3000');

                }
            });

        });
    </script>
}