@model Yukidzaki.Models.Token
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<form method="post" asp-action="Create">
    <div class="border p-3">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group row">
            <h2 class="text-indo pl-3">Add Token</h2>
        </div>
        <div class="row">
            <div class="col-8">
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="edition"></label>
                    </div>
                    <div class="col-8">
                       <input asp-for="edition" class="form-control" />
                       <span asp-validation-for="edition"class="text-danger"></span>
                    </div>

                </div>
                 <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="SeasonCollectionId"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="SeasonCollectionId" class="form-control" />
                         @*<span asp-validation-for="Name"class="text-danger"></span>*@
                         <!--TODO: подумать над валидацией-->
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Description"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Description" class="form-control" />
                         <span asp-validation-for="Description"class="text-danger"></span>
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Image"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Image" class="form-control" />
                         <span asp-validation-for="Image"class="text-danger"></span>
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-8 offset-4 row">

                        <div class="col">
                           <input type="submit" class="btn btn-info w-100"value="Create"/>
                        </div>
                        <div class="col">
                             <a  asp-action="Index" class="btn btn-success w-100">
                                 Back</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                @* Keep this empty *@
            </div>
        </div>
    </div>
</form>

@section Scripts{

    @{<partial name-"_ValidationScriptsPartial"/>}
}