@model Babadzaki.Models.Token

@using Babadzaki_Utility
@using Newtonsoft.Json


<div class="swiper-slide">
    <div class="img-box">
        <img src="@WebConstants.ImagePath@WebConstants.PreviewDirectoryPath@Model.Image" alt="">
        <div class="content">
            <a href="item.html">@($"Yukidzaki №{Model.edition}")</a>
        </div>
    </div>
</div>