@model Babadzaki.Models.Token

                <div class="box-wallet-inner">
                    <div class="sc-box">
                        <div class="img">
                            <img src="@Model.Image" alt="Image">
                        </div>
                         <div class="img">
                             <img src="@Model.name" alt="Image">
                         </div>
                        <h6 class="heading"><a href="login.html">Meta Mask</a> </h6>
                        <p class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>
                    </div>
                    </div>
                    
