@model Babadzaki.ViewModel.FilterResultVM
<div class="row" id="tokenCardGalleryCount" value="@Model.tokensCount">
@if (Model.Tokens.Count() > 0)
{

    @foreach (var token in Model.Tokens)
    {
        <partial name="_IndividualTokenCard" model="token" />

        //display all product
    }

}
else
{
    <p> No tokens exists.</p>
}

</div> 